body {
	background: #fff;
	overflow-x: hidden;
}
#header {
	width: 100%;
	height: 55px;
	background:#1A191E ;
	position: relative;
}
#header p {	
	height: 55px;
	line-height: 55px;
	font-size: 1.5em;
	color: #fff;
	text-align: center;
}
#header div {
	position: absolute;
	right: 1.875em;
	top:15px;
}
#header div img {
	width: 25px;
	height: 25px;
}
/*轮播图css*/

.main_visual {
	position: relative;
	top:0;
	max-width: 100%;
    max-height: 100%;
    overflow-x: hidden;
	}
.main_image {
	max-width: 100%;
    max-height: 100%;
	}
.main_image li span a  img{
	max-width: 100%;
    max-height: 100%;
    display: block;
}

/*分类导航*/
.navtop {
	width: 100%;
	
}
.navtop ul li {
	width: 25%;
	text-align: center;
	float: left;
	padding: 10px 0;
}
.navtop ul li dd img {
	width: 70%;
}
.navtop ul li dt {
	padding: 5px 0;
	font-size: 14px;
}

.content {
	padding: 0 2%;
	background: #efefef;
}
.content h3 {
	text-align: left;
	padding: 10px;
}
.content img {
	width: 100%;
	display: block;
}
