<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>商品详情</title>
		<meta	content="width=device-width, minimum-scale=1.0,initial-scale=1.0, maximum-scale=1.0, user-scalable=0;"
			id="viewport" name="viewport" />
		<link rel="stylesheet" type="text/css" href="/css/base.css" />
		<link rel="stylesheet" type="text/css" href="/css/classification.css" />	
	</head>
	<body>
		<div class="detailed_img">
			dfsdfsdf
			<img src="images/content1.jpg">
			<img src="images/content2.jpg">
			<img src="images/content3.jpg">
			<img src="images/content4.jpg">
		</div>
		<script src="/js/detail_index.js"></script>
	</body>
</html>
