<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>案例详情</title>
		<meta	content="width=device-width, minimum-scale=1.0,initial-scale=1.0, maximum-scale=1.0, user-scalable=0;"
			id="viewport" name="viewport" />
		<link rel="stylesheet" type="text/css" href="../css/base.css" />	
		<link rel="stylesheet" type="text/css" href="../css/case/index.css" />	
	</head>
	<body class="layout">
		<div class="detailed_list">
			<h3>爱睿希让我变的美丽</h3>
			<div class="date_mar">2017年5月1日</div>
			<div class="case_img">
				<img src="../images/case_img.png">
				<img src="../images/banner1.png">
				<img src="../images/case_img.png">
				<img src="../images/banner1.png">
			</div>
			<div class="case_content">
				我们假设3个标题的li列表布局，对li对象设置一定宽度和高度，对前两个li列表内容放过多测试文字，第三个li列表放入可显示完测试文字。因为我们要避免内容过多撑破对象，所以我们对li再设一个overflow:hidden css样式，用于css隐藏超出内容，避免内容过多溢出li对象。
			</div>
			<div class="case_bottom">
				<span class="f_left">阅读量：50</span>
				<a href="complaint.html">
					<span class="f_right case_control">
					<img src="../images/complaint.png">
							投诉
					</span>
				</a>
				<a href="###" class="control_up">
				<span class="f_right case_control">
					<img src="../images/like.png">
					5
				</span>
				</a>
			</div>
		</div>
	
	</body>	
	</html>
		