<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>投诉详情</title>
		<meta	content="width=device-width, minimum-scale=1.0,initial-scale=1.0, maximum-scale=1.0, user-scalable=0;"
			id="viewport" name="viewport" />
		<link rel="stylesheet" type="text/css" href="../css/base.css" />	
		<link rel="stylesheet" type="text/css" href="../css/case/index.css" />	
	</head>
	<body class="layout bg_color">
		<div class="complaint_list">
			<h3>投诉内容</h3>
			<div class="complaint_main">
				<a href="###"><img src="../images/banner1.png"></a>
				<span class="f_left">我们假设3个标题的li列表布局，对li对象设置一定宽度和高度</span>
			</div>
		</div>
		<div class="complaint_text">
			<h3>投诉描述</h3>
				<form>
					<textarea name="textarea" placeholder="请输入投诉内容"></textarea>
					<div class="evidence">证据截图<span>（点击上方投诉内容进去截图 )</span></div>
					<div class="file_up">
						<img src="../images/file_up.png">
						<input type="file" name="file">
					</div>
					<div class="input_button">
						<input type="submit" name="submit" value="提交">
					</div>
				</form>
		</div>
	</body>	
	</html>
		