<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>案例</title>
		<meta	content="width=device-width, minimum-scale=1.0,initial-scale=1.0, maximum-scale=1.0, user-scalable=0;"
			id="viewport" name="viewport" />
		<link rel="stylesheet" type="text/css" href="/css/base.css" />
		<link rel="stylesheet" type="text/css" href="/css/index.css" />	
		<link rel="stylesheet" type="text/css" href="/css/case/index.css" />	
		<script type="text/javascript" src="../js/jquery-1.7.1.min.js"></script>
			<script type="text/javascript" src="../js/jquery.event.drag-1.5.min.js"></script>
			<script type="text/javascript" src="../js/jquery.touchSlider.js"></script>
			<script type="text/javascript">
			$(document).ready(function(){
			
				$(".main_visual").hover(function(){
					$("#btn_prev,#btn_next").fadeIn()
				},function(){
					$("#btn_prev,#btn_next").fadeOut()
				});
				
				$dragBln = false;
				
				$(".main_image").touchSlider({
					flexible : true,
					speed : 200,
					btn_prev : $("#btn_prev"),
					btn_next : $("#btn_next"),
					paging : $(".flicking_con a"),
					counter : function (e){
						$(".flicking_con a").removeClass("on").eq(e.current-1).addClass("on");
					}
				});
				
				$(".main_image").bind("mousedown", function() {
					$dragBln = false;
				});
				
				$(".main_image").bind("dragstart", function() {
					$dragBln = true;
				});
				
				$(".main_image a").click(function(){
					if($dragBln) {
						return false;
					}
				});
				
				timer = setInterval(function(){
					$("#btn_next").click();
				}, 3000);
				
				$(".main_visual").hover(function(){
					clearInterval(timer);
				},function(){
					timer = setInterval(function(){
						$("#btn_next").click();
					},3000);
				});
				
				$(".main_image").bind("touchstart",function(){
					clearInterval(timer);
				}).bind("touchend", function(){
					timer = setInterval(function(){
						$("#btn_next").click();
					}, 3000);
				});
				
			});
			</script>	
			
	</head>
	<body class="layout">
		
	<!--轮播图-->		
			<div class="main_visual">
				<!--box-->
		<div class="imgbox">
			<img src="../images/lbtbox.png"/>
		</div>
		
				<div class="main_image">
					<ul>
						<li><span><a href="###"><img src="/images/banner1.png"/></a></span></li>
						<li><span><a href="###"><img src="/images/banner2.png"/></a></span></li>
						<li><span><a href="###"><img src="/images/banner3.png"/></a></span></li>
						<li><span><a href="###"><img src="/images/banner4.png"/></a></span></li>
					</ul>
					<a href="javascript:;" id="btn_prev"></a>
					<a href="javascript:;" id="btn_next"></a>
				</div>
			
		<!--轮播图结束-->
		<nav class="case_list">
			<ul>
				<a href="###"><li class="case_on">减重</li></a>
				<a href="###"><li>亚健康</li></a>
				<a href="###"><li>慢性病</li></a>
				<a href="###"><li>突发病症</li></a>
				<a href="###"><li>美容美颜</li></a>
				<a href="###"><li>净化器</li></a>
				<a href="###"><li>饮食</li></a>
				<a href="###"><li>活动</li></a>
			</ul>
		</nav>
		<div class="case_main">
			<ul>
				<a href="../case/case_details.html">
					<li>
						<img src="../images/banner1.png">
						<dt>
							<h3>锻炼身体可好了锻炼身体可好了锻炼身体可好了锻炼身体可好了</h3>
							<p>我说的是真的，锻炼身体特别的好，不行你锻炼个试试吧。我说的是真的，锻炼身体特别的好，不行你锻炼个试试吧。</p>
						</dt>
					</li>
				</a>
				<a href="###">
					<li>
						<img src="../images/banner1.png">
						<dt>
							<h3>锻炼身体可好了锻炼身体可好了锻炼身体可好了锻炼身体可好了</h3>
							<p>我说的是真的，锻炼身体特别的好，不行你锻炼个试试吧。我说的是真的，锻炼身体特别的好，不行你锻炼个试试吧。</p>
						</dt>
					</li>
				</a>
				<a href="###">
					<li>
						<img src="../images/banner1.png">
						<dt>
							<h3>锻炼身体可好了锻炼身体可好了锻炼身体可好了锻炼身体可好了</h3>
							<p>我说的是真的，锻炼身体特别的好，不行你锻炼个试试吧。我说的是真的，锻炼身体特别的好，不行你锻炼个试试吧。</p>
						</dt>
					</li>
				</a>
			</ul>
		</div>
		
		
		
		
		
		<!--foot导航栏-->
		<div class="footer_box"></div>
		<div class="footer layout">
			<ul>
				<li>
					<a href="#">
						<img src="../images/foot1-2.png">
						<p>群组</p>
					</a>
				</li>
				<li>
					<a href="case/index.html">
						<img src="../images/foot2-1.png">
				    	<p>案例</p>
					</a>
				</li>
				<li id="foot_3">
					<a href="../index.html">
						<img src="../images/foot3-2.png">
					</a>
				</li>
				<li>
					<a href="classroom/index.html">
						<img src="../images/foot4-2.png">
						<p>语音课堂</p>
					</a>
				</li>	
				<li>
					<a href="#">
						<img src="../images/foot5-2.png">
						<p>我的</p>
					</a>
				</li>	
			</ul>			
		</div>
		
		</div>
		
		
		
	</body>	
	</html>
		
